<div id="settingsContainer" style="display: none;">
    <div id="settingsContainerLeft">
        <div id="settingsNavContainer">
            <div id="settingsNavHeader">
                <span id="settingsNavHeaderText"><%- lang('settings.navHeaderText') %></span>
            </div>
            <div id="settingsNavItemsContainer">
                <div id="settingsNavItemsContent">
                    <button class="settingsNavItem" rSc="settingsTabAccount" id="settingsNavAccount" selected><%- lang('settings.navAccount') %></button>
                    <button class="settingsNavItem" rSc="settingsTabMinecraft"><%- lang('settings.navMinecraft') %></button>
                    <button class="settingsNavItem" rSc="settingsTabMods"><%- lang('settings.navMods') %></button>
                    <button class="settingsNavItem" rSc="settingsTabJava"><%- lang('settings.navJava') %></button>
                    <button class="settingsNavItem" rSc="settingsTabLauncher"><%- lang('settings.navLauncher') %></button>
                    <div class="settingsNavSpacer"></div>
                    <button class="settingsNavItem" rSc="settingsTabAbout"><%- lang('settings.navAbout') %></button>
                    <button class="settingsNavItem" rSc="settingsTabUpdate" id="settingsNavUpdate"><%- lang('settings.navUpdates') %></button>
                    <div id="settingsNavContentBottom">
                        <div class="settingsNavDivider"></div>
                        <button id="settingsNavDone"><%- lang('settings.navDone') %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="settingsContainerRight">
        <div id="settingsTabAccount" class="settingsTab">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.tabAccountHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.tabAccountHeaderDesc') %></span>
            </div>


            <div class="settingsAuthAccountTypeContainer">
                <div class="settingsAuthAccountTypeHeader">
                    <div class="settingsAuthAccountTypeHeaderLeft">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="#000" stroke-linecap="square" stroke-miterlimit="10" viewBox="0 0 490 493" style="fill: rgb(0, 0, 0);" original_string_length="7971" width="22px" height="22px">
                            <defs>
                                <clipPath id="__id0_s0dknck1z"><path d="M5 5V488.82H485.83V5Z"/></clipPath>
                                <clipPath clip-path="url(#__id0_s0dknck1z)" id="__id1_s0dknck1z"><path d="M5 488.82H485.83V5H5Zm0 0"/></clipPath>
                                <clipPath clip-path="url(#__id1_s0dknck1z)" id="__id2_s0dknck1z"><path d="M5 5H485.83V488.82H5ZM5 5"/></clipPath>
                            </defs>
                            <g>
                                <g stroke="none" style="fill: rgb(0, 151, 178);">
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M408.83 398.58c-4.41.02-7.93 3.54-7.9 7.92.03 4.32 3.69 7.98 7.96 7.96 4.31-.03 7.91-3.68 7.89-8.02-.02-4.4-3.53-7.88-7.95-7.86M290.53 200.46c1.15.1 1.77.65 2.44 1.04l69.99 40.36c1.65.95 2.29 1.95 2.29 3.91l-.05 120.96c0 .72.07 1.45-.01 2.16-.18 1.48.47 2.28 1.75 3l19.74 11.37c2.97 1.72 5.99 3.37 8.91 5.18 1.32.82 2.29.78 3.68.03 11.45-6.13 25.57-.28 29.15 12.15 2.36 8.2.34 15.48-6.05 21.12-6.38 5.62-13.86 6.83-21.68 3.38-7.72-3.4-11.77-9.61-12.16-18.03-.08-1.61-.61-2.38-1.92-3.14l-37.21-21.39c-1.72-.98-2.2-2.06-2.2-3.93l.04-121.44c0-.4-.06-.81.01-1.2.29-1.73-.44-2.71-1.98-3.57L319.9 237.84c-9.48-5.47-18.95-10.97-28.45-16.4-1.39-.79-2.06-1.59-1.93-3.33l1.01-17.64" style="fill: inherit;"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M465.31 192.91c4.37-.04 7.95-3.64 7.91-7.97-.04-4.28-3.75-7.94-8.03-7.9-4.31.04-7.91 3.71-7.88 8.03.03 4.38 3.6 7.88 8 7.84m-237.53-8.52c.47-.71 1.26-.96 1.94-1.35l70.34-40.69c1.51-.88 2.6-.85 4.1.02l106.05 61.29c2.9 1.67 1.92 1.62 4.67.04l28.04-16.15c1.31-.75 1.87-1.52 1.95-3.13.49-9.63 6.53-17.19 15.52-19.24 8.2-1.87 15.32.42 20.63 6.95 5.38 6.61 6.25 14.14 2.52 21.81-3.68 7.58-10.04 11.35-18.48 11.48-3.34.05-6.55-.67-9.4-2.4-1.48-.9-2.52-.64-3.88.15l-36.32 20.98c-3.58 2.06-2.24 2.04-5.69.05L304.14 163.13c-1.51-.87-2.57-.89-4.08-.01l-53.5 31.02c-1.67.97-2.84 1-4.45-.13l-12.4-8.19c-.66-.44-1.41-.76-1.92-1.43" style="fill: inherit;"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M25.54 316.67c4.39-.04 7.88-3.6 7.85-7.99-.04-4.34-3.67-7.91-8.02-7.87s-7.87 3.67-7.84 8.04c.04 4.39 3.59 7.85 8.01 7.82m237.38-7.04l-15.67 9.05c-18.75 10.83-37.51 21.63-56.21 32.55-1.86 1.09-3.14.98-4.93-.06L80.29 289.97c-1.54-.89-2.65-1.05-4.29-.08L47.79 306.21c-1.41.8-1.94 1.68-1.97 3.35-.18 9.96-8.23 18.58-18.06 19.52-10.43 1-19.88-5.49-22.13-15.44-1.89-8.41.48-15.63 7.29-20.94 6.81-5.3 14.36-5.83 22.06-1.95 1.5.76 2.51.71 3.87-.08l37.32-21.64c1.45-.85 2.47-.8 3.88.02l106.26 61.39c2.74 1.58 1.8 1.61 4.67-.05l53.32-30.85c1.5-.87 2.53-.99 4.03.06l12.81 8.45c.58.38 1.3.61 1.78 1.58" style="fill: inherit;"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M293.85 25.55c.04 4.38 3.63 7.9 8 7.84 4.31-.06 7.93-3.79 7.85-8.07-.08-4.36-3.69-7.84-8.08-7.8-4.4.05-7.82 3.57-7.77 8.02M182.21 230.63v-2.42c0-26.96.02-53.91-.05-80.87 0-1.87.6-2.8 2.18-3.71L290.67 82.31c1.57-.9 2.23-1.82 2.21-3.72l-.02-32.16c.01-1.78-.42-2.84-2.05-3.82-6.33-3.84-10.68-11.26-9.23-20.62 1.27-8.2 7.6-14.69 15.74-16.5 9.61-2.14 19.29 2.83 23.19 11.91 3.87 9.01.81 19.6-7.46 24.94-1.88 1.22-2.41 2.45-2.39 4.57l.1 42.24c.01 1.76-.59 2.66-2.08 3.52L202.35 154c-1.63.94-2.11 1.95-2.11 3.76l.09 61.91c.01 1.78-.52 2.68-2.12 3.44l-13.92 6.99c-.55.27-1.05.76-2.09.53" style="fill: inherit;"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M181.1 468.24c-.03 4.43 3.39 7.99 7.76 8.08 4.25.09 7.99-3.57 8.06-7.87.06-4.31-3.51-7.99-7.84-8.06-4.36-.07-7.95 3.45-7.98 7.84M308.24 263.06c.3.86.15 1.74.15 2.61l.05 80.64c0 1.9-.54 2.96-2.22 3.93L200.29 411.31c-1.73 1-2.41 2.03-2.39 4.08l.02 32.4c-.01 1.54.45 2.36 1.77 3.23 7.29 4.78 10.69 11.6 9.4 20.27-1.32 8.87-6.62 14.57-15.26 16.86-12.81 3.39-25.38-6.58-25.25-19.94.07-7.45 3.38-13.22 9.63-17.19 1.33-.85 1.78-1.71 1.77-3.24l-.08-42.72c-.01-2.02.58-3.09 2.36-4.11l106.13-61.21c1.57-.9 2.2-1.82 2.19-3.71l-.09-61.92c-.01-1.74.42-2.72 2.05-3.49l13.94-6.96c.55-.28 1.05-.75 1.77-.6" style="fill: inherit;"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M81.82 79.41c-4.39.01-7.98 3.58-7.96 7.92.02 4.3 3.69 7.95 7.99 7.94 4.34-.02 7.94-3.63 7.92-7.97-.01-4.39-3.55-7.9-7.95-7.89M200.05 293.3c-.84.05-1.38-.49-1.97-.83l-70.6-40.72c-1.54-.88-2.01-1.84-2.01-3.57l.09-122.61c0-2.06-.66-3.08-2.4-4.06L95.13 105.35c-1.33-.78-2.25-.82-3.66-.07-13.63 7.23-29.93-2.32-30.06-17.74-.11-12.12 9.32-19.88 18.78-20.59 11.71-.88 21.11 7.88 21.8 18.03.21 3.08 1.46 4.54 3.96 5.95l35.34 20.28c1.59.9 2.18 1.86 2.17 3.72l-.04 105.58c0 5.84.14 11.67.06 17.51-.02 1.69.6 2.54 2.01 3.35l53.19 30.59c2.21 1.25 2.7 2.58 2.49 4.9l-.85 14.12c-.04.77.08 1.57-.27 2.33" style="fill: inherit;"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M81.85 392.81c.03-4.37-3.52-7.97-7.87-8-4.34-.03-7.95 3.55-7.98 7.9-.03 4.4 3.47 7.92 7.88 7.95s7.94-3.45 7.97-7.85m34.8-64.12l1.26.26c5.29 2.93 10.08 5.67 14.94 8.28 1.3.7 1.75 1.54 1.74 3v25.92c.01 1.46-.45 2.28-1.73 3.01L96.48 390.08c-1.56.89-2.19 1.83-2.22 3.72-.18 10.55-9.24 19.25-19.94 19.37-11.66.13-20.85-8.93-20.81-20.5.06-15.24 16.22-25.09 29.73-18.02 1.67.87 2.78.79 4.3-.11l27-15.58c1.44-.82 1.99-1.69 1.97-3.36l-.03-24.48c0-.79-.14-1.59.17-2.43" style="fill: rgb(92, 225, 230);"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M196.89 25.35c-.04 4.41 3.43 7.98 7.8 8.03 4.29.05 7.99-3.56 8.06-7.87s-3.53-7.96-7.88-7.99c-4.43-.04-7.94 3.4-7.98 7.83m42.37 69.26l-.85.6c-5.27 3.16-10.21 6.1-15.14 9.08-.94.57-1.71.87-2.83.22L197 90.95c-.86-.49-1.34-1.07-1.24-2.09l.01-1.12c0-14.23-.02-27.9.02-41.57.01-1.56-.33-2.56-1.81-3.46-6.72-4.06-10.98-11.87-9.23-21.26 1.55-8.37 8.18-14.84 16.63-16.17 12.79-2.01 22.1 7.11 23.5 16.77 1.29 8.9-1.97 15.83-9.41 20.72-1.35.89-1.74 1.74-1.74 3.24l-.01 31.42c-.01 1.74.48 2.71 2.02 3.57l21.6 12.43c.55.32 1.08.66 1.91 1.17" style="fill: rgb(92, 225, 230);"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M41.3 171.36c.04-4.38-3.48-7.91-7.91-7.92s-7.97 3.47-8.01 7.84c-.04 4.25 3.68 8 7.94 8.01 4.32.01 7.94-3.58 7.99-7.93m69.38 4.89l0 9.42c.02 3.12.02 6.24.15 9.35.04.99-.1 1.62-1.02 2.15L85.94 210.96c-.96.56-1.61.19-2.39-.26L62.59 198.59c-5.26-3.04-10.53-6.05-15.76-9.14-1.33-.78-2.34-.98-3.88-.15-13.37 7.17-29.52-2.1-30.01-17.31-.4-12.47 9.52-20.57 19.26-21.08 11.54-.6 20.89 8.36 21.47 18.78l.19 1.12c-.15 1.57.29 2.13 1.16 2.63L83.65 190c1.24.73 2.06.28 3.05-.29l21.78-12.6c.54-.31 1.04-.75 2.19-.87" style="fill: rgb(92, 225, 230);"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M465.25 322.4c-.02-4.41-3.52-7.84-7.97-7.81-4.41.03-7.91 3.57-7.88 7.95.04 4.29 3.77 7.99 8.01 7.92 4.35-.07 7.86-3.67 7.84-8.05m-85-4.91l-.42-19.12c-.02-1.12.65-1.5 1.43-1.95l16.82-9.71c1.8-1.04 3.66-1.98 5.38-3.15 1.57-1.06 2.83-1.09 4.54-.08l31.73 18.39c1.52.88 3.08 1.71 4.55 2.66 1.14.74 2.04.67 3.27.04 7.47-3.83 14.82-3.49 21.74 1.31 6.79 4.7 9.85 13.25 7.93 21.39-1.88 7.95-8.54 13.93-16.61 15.36-10.71 1.9-23.16-5.9-23.62-19.57-.05-1.61-.61-2.38-1.93-3.14L407.66 304.1c-1.46-.86-2.5-.75-3.89.06l-21.16 12.26c-.67.39-1.29.92-2.37 1.07" style="fill: rgb(92, 225, 230);"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M416.83 108.9c4.38-.02 8.01-3.66 7.93-7.95-.08-4.33-3.75-7.94-8.04-7.91-4.3.03-7.95 3.74-7.89 8.02.07 4.43 3.57 7.86 8 7.84m-42.79 56.6c-4.31-2.39-8.28-4.59-12.25-6.8l-3.99-2.2c-1.32-.58-1.62-1.47-1.61-2.82l.03-17.51c0-2.88.08-5.76-.03-8.63-.06-1.49.51-2.27 1.77-2.99L392 104.92c1.38-.8 3.14-1.38 3.96-2.58.75-1.11.44-2.92.63-4.42 1.01-8.18 7.9-15.42 16.12-16.96 12.66-2.37 24.19 6.63 24.49 19.54.29 12.6-9.59 20.26-18.73 20.84-4.18.26-8.13-.44-11.75-2.57-1.05-.62-1.83-.53-2.84.06l-28.23 16.29c-1.27.72-1.53 1.59-1.52 2.89l.02 25.43c0 .55-.05 1.11-.09 2.05" style="fill: rgb(92, 225, 230);"/>
                                    <path clip-path="url(#__id2_s0dknck1z)" d="M278.02 468.31c-.02 4.38 3.49 7.96 7.86 8.02 4.24.06 7.96-3.64 7.99-7.94s-3.61-7.98-7.91-8c-4.36-.02-7.92 3.53-7.94 7.92m-26.23-69.15l.8-.78c5.18-3.11 9.94-5.9 14.62-8.79 1.23-.76 2.15-.85 3.45-.09l22.41 12.95c1.36.77 1.86 1.6 1.86 3.19l-.08 41.73c-.01 1.78.44 2.81 2.05 3.81 7.15 4.44 10.57 12.52 9.1 20.86-1.43 8.08-7.57 14.47-15.66 16.3-9.49 2.14-19.39-2.94-23.21-11.91-3.85-9.05-.81-19.64 7.42-24.96 1.96-1.26 2.53-2.57 2.5-4.79l-.01-30.46c.01-1.68-.56-2.57-1.98-3.37l-21.59-12.44c-.6-.35-1.33-.55-1.68-1.23" style="fill: rgb(92, 225, 230);"/>
                                </g>
                            </g>
                        </svg>
                        <span><%- lang('settings.mojangAccount') %></span>
                    </div>
                    <div class="settingsAuthAccountTypeHeaderRight">
                        <button class="settingsAddAuthAccount" id="settingsAddMojangAccount"><%- lang('settings.addMojangAccount') %></button>
                    </div>
                </div>
                
                <div class="settingsCurrentAccounts" id="settingsCurrentMojangAccounts">
                    <!-- Mojang auth accounts populated here. -->
                </div>
            </div>
        </div>
        <div id="settingsTabMinecraft" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.minecraftTabHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.minecraftTabHeaderDesc') %></span>
            </div>
            <div id="settingsGameResolutionContainer">
                <span class="settingsFieldTitle"><%- lang('settings.gameResolutionTitle') %></span>
                <div id="settingsGameResolutionContent">
                    <input type="number" id="settingsGameWidth" min="0" cValue="GameWidth">
                    <div id="settingsGameResolutionCross">&#10006;</div>
                    <input type="number" id="settingsGameHeight" min="0" cValue="GameHeight">
                </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.launchFullscreenTitle') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="Fullscreen">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.autoConnectTitle') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="AutoConnect">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.launchDetachedTitle') %></span>
                    <span class="settingsFieldDesc"><%- lang('settings.launchDetachedDesc') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="LaunchDetached">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div id="settingsTabMods" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.tabModsHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.tabModsHeaderDesc') %></span>
            </div>
            <div class="settingsSelServContainer">
                <div class="settingsSelServContent">

                </div>
                <div class="settingsSwitchServerContainer">
                    <div class="settingsSwitchServerContent">
                        <button class="settingsSwitchServerButton"><%- lang('settings.switchServerButton') %></button>
                    </div>
                </div>
            </div>
            <div id="settingsModsContainer">
                <div id="settingsReqModsContainer">
                    <div class="settingsModsHeader"><%- lang('settings.requiredMods') %></div>
                    <div id="settingsReqModsContent">

                    </div>
                </div>
                <div id="settingsOptModsContainer">
                    <div class="settingsModsHeader"><%- lang('settings.optionalMods') %></div>
                    <div id="settingsOptModsContent">
                        
                    </div>
                </div>
                <div id="settingsDropinModsContainer">
                    <div class="settingsModsHeader"><%- lang('settings.dropinMods') %></div>
                    <button id="settingsDropinFileSystemButton"><%- lang('settings.addMods') %> <span id="settingsDropinRefreshNote"><%- lang('settings.dropinRefreshNote') %></span></button>
                    <div id="settingsDropinModsContent">
                        
                    </div>
                </div>
                <div id="settingsShadersContainer">
                    <div class="settingsModsHeader"><%- lang('settings.shaderpacks') %></div>
                    <div id="settingsShaderpackDesc"><%- lang('settings.shaderpackDesc') %></div>
                    <div id="settingsShaderpackWrapper">
                        <button id="settingsShaderpackButton"> + </button>
                        <div class="settingsSelectContainer">
                            <div class="settingsSelectSelected" id="settingsShadersSelected"><%- lang('settings.selectShaderpack') %></div>
                            <div class="settingsSelectOptions" id="settingsShadersOptions" hidden>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="settingsTabJava" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.tabJavaHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.tabJavaHeaderDesc') %></span>
            </div>
            <div class="settingsSelServContainer">
                <div class="settingsSelServContent">

                </div>
                <div class="settingsSwitchServerContainer">
                    <div class="settingsSwitchServerContent">
                        <button class="settingsSwitchServerButton"><%- lang('settings.switchServerButton') %></button>
                    </div>
                </div>
            </div>
            <div id="settingsMemoryContainer">
                <div id="settingsMemoryTitle"><%- lang('settings.memoryTitle') %></div>
                <div id="settingsMemoryContent">
                    <div id="settingsMemoryContentLeft">
                        <div class="settingsMemoryContentItem">
                            <span class="settingsMemoryHeader"><%- lang('settings.maxRAM') %></span>
                            <div class="settingsMemoryActionContainer">
                                <div id="settingsMaxRAMRange" class="rangeSlider" cValue="MaxRAM" serverDependent min="3" max="8" value="3" step="0.5">
                                    <div class="rangeSliderBar"></div>
                                    <div class="rangeSliderTrack"></div>
                                </div>
                                <span id="settingsMaxRAMLabel" class="settingsMemoryLabel">3G</span>
                            </div>
                        </div>
                        <div class="settingsMemoryContentItem">
                            <span class="settingsMemoryHeader"><%- lang('settings.minRAM') %></span>
                            <div class="settingsMemoryActionContainer">
                                <div id="settingsMinRAMRange" class="rangeSlider" cValue="MinRAM" serverDependent min="3" max="8" value="3" step="0.5">
                                    <div class="rangeSliderBar"></div>
                                    <div class="rangeSliderTrack"></div>
                                </div>
                                <span id="settingsMinRAMLabel" class="settingsMemoryLabel">3G</span>
                            </div>
                        </div>
                        <div id="settingsMemoryDesc"><%- lang('settings.memoryDesc') %></div>
                    </div>
                    <div id="settingsMemoryContentRight">
                        <div id="settingsMemoryStatus">
                            <div class="settingsMemoryStatusContainer">
                                <span class="settingsMemoryStatusTitle"><%- lang('settings.memoryTotalTitle') %></span>
                                <span id="settingsMemoryTotal" class="settingsMemoryStatusValue">16G</span>
                            </div>
                            <div class="settingsMemoryStatusContainer">
                                <span class="settingsMemoryStatusTitle"><%- lang('settings.memoryAvailableTitle') %></span>
                                <span id="settingsMemoryAvail" class="settingsMemoryStatusValue">7.3G</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="settingsFileSelContainer">
                <div class="settingsFileSelTitle"><%- lang('settings.javaExecutableTitle') %></div>
                <div class="settingsFileSelContent">
                    <div id="settingsJavaExecDetails"><!-- Invalid Selection --></div>
                    <div class="settingsFileSelActions">
                        <div class="settingsFileSelIcon">
                            <svg class="settingsFileSelSVG" x="0px" y="0px" viewBox="0 0 305.001 305.001">
                                <g>
                                    <path d="M150.99,56.513c-14.093,9.912-30.066,21.147-38.624,39.734c-14.865,32.426,30.418,67.798,32.353,69.288c0.45,0.347,0.988,0.519,1.525,0.519c0.57,0,1.141-0.195,1.605-0.583c0.899-0.752,1.154-2.029,0.614-3.069c-0.164-0.316-16.418-31.888-15.814-54.539c0.214-7.888,11.254-16.837,22.942-26.312c10.705-8.678,22.839-18.514,29.939-30.02c15.586-25.327-1.737-50.231-1.914-50.479c-0.688-0.966-1.958-1.317-3.044-0.84c-1.085,0.478-1.686,1.652-1.438,2.811c0.035,0.164,3.404,16.633-5.97,33.6C169.301,43.634,160.816,49.603,150.99,56.513z"></path>
                                    <path d="M210.365,67.682c0.994-0.749,1.286-2.115,0.684-3.205c-0.602-1.09-1.913-1.571-3.077-1.129c-2.394,0.91-58.627,22.585-58.627,48.776c0,18.053,7.712,27.591,13.343,34.556c2.209,2.731,4.116,5.09,4.744,7.104c1.769,5.804-2.422,16.294-4.184,19.846c-0.508,1.022-0.259,2.259,0.605,3.005c0.467,0.403,1.05,0.607,1.634,0.607c0.497,0,0.996-0.148,1.427-0.448c0.967-0.673,23.63-16.696,19.565-36.001c-1.514-7.337-5.12-12.699-8.302-17.43c-4.929-7.329-8.489-12.624-3.088-22.403C181.419,89.556,210.076,67.899,210.365,67.682z"></path>
                                    <path d="M63.99,177.659c-0.964,2.885-0.509,5.75,1.315,8.283c6.096,8.462,27.688,13.123,60.802,13.123c0.002,0,0.003,0,0.004,0c4.487,0,9.224-0.088,14.076-0.262c52.943-1.896,72.58-18.389,73.39-19.09c0.883-0.764,1.119-2.037,0.57-3.067c-0.549-1.029-1.733-1.546-2.864-1.235c-18.645,5.091-53.463,6.898-77.613,6.898c-27.023,0-40.785-1.946-44.154-3.383c1.729-2.374,12.392-6.613,25.605-9.212c1.263-0.248,2.131-1.414,2.006-2.695c-0.125-1.281-1.201-2.258-2.488-2.258C106.893,164.762,68.05,165.384,63.99,177.659z"></path>
                                    <path d="M241.148,160.673c-10.92,0-21.275,5.472-21.711,5.705c-1.01,0.541-1.522,1.699-1.245,2.811c0.278,1.111,1.277,1.892,2.423,1.893c0.232,0.001,23.293,0.189,25.382,13.365c1.85,11.367-21.82,29.785-31.097,35.923c-1.002,0.663-1.391,1.945-0.926,3.052c0.395,0.943,1.314,1.533,2.304,1.533c0.173,0,0.348-0.018,0.522-0.056c2.202-0.47,53.855-11.852,48.394-41.927C261.862,164.541,250.278,160.673,241.148,160.673z"></path>
                                    <path d="M205.725,216.69c0.18-0.964-0.221-1.944-1.023-2.506l-12.385-8.675c-0.604-0.423-1.367-0.556-2.076-0.368c-0.129,0.034-13.081,3.438-31.885,5.526c-7.463,0.837-15.822,1.279-24.175,1.279c-18.799,0-31.091-2.209-32.881-3.829c-0.237-0.455-0.162-0.662-0.12-0.777c0.325-0.905,2.068-1.98,3.192-2.405c1.241-0.459,1.91-1.807,1.524-3.073c-0.385-1.266-1.69-2.012-2.978-1.702c-12.424,2.998-18.499,7.191-18.057,12.461c0.785,9.343,22.428,14.139,40.725,15.408c2.631,0.18,5.477,0.272,8.456,0.272c0.002,0,0.003,0,0.005,0c30.425,0,69.429-9.546,69.819-9.643C204.818,218.423,205.544,217.654,205.725,216.69z"></path>
                                    <path d="M112.351,236.745c0.938-0.611,1.354-1.77,1.021-2.838c-0.332-1.068-1.331-1.769-2.453-1.755c-1.665,0.044-16.292,0.704-17.316,10.017c-0.31,2.783,0.487,5.325,2.37,7.556c5.252,6.224,19.428,9.923,43.332,11.31c2.828,0.169,5.7,0.254,8.539,0.254c30.39,0,50.857-9.515,51.714-9.92c0.831-0.393,1.379-1.209,1.428-2.127c0.049-0.917-0.409-1.788-1.193-2.267l-15.652-9.555c-0.543-0.331-1.193-0.441-1.813-0.314c-0.099,0.021-10.037,2.082-25.035,4.119c-2.838,0.385-6.392,0.581-10.562,0.581c-14.982,0-31.646-2.448-34.842-4.05C111.843,237.455,111.902,237.075,112.351,236.745z"></path>
                                    <path d="M133.681,290.018c69.61-0.059,106.971-12.438,114.168-20.228c2.548-2.757,2.823-5.366,2.606-7.07c-0.535-4.194-4.354-6.761-4.788-7.04c-1.045-0.672-2.447-0.496-3.262,0.444c-0.813,0.941-0.832,2.314-0.016,3.253c0.439,0.565,0.693,1.51-0.591,2.795c-2.877,2.687-31.897,10.844-80.215,13.294c-6.619,0.345-13.561,0.519-20.633,0.52c-43.262,0-74.923-5.925-79.079-9.379c1.603-2.301,12.801-5.979,24.711-8.058c1.342-0.234,2.249-1.499,2.041-2.845c-0.208-1.346-1.449-2.273-2.805-2.096c-0.336,0.045-1.475,0.115-2.796,0.195c-19.651,1.2-42.36,3.875-43.545,13.999c-0.36,3.086,0.557,5.886,2.726,8.324c5.307,5.963,20.562,13.891,91.475,13.891C133.68,290.018,133.68,290.018,133.681,290.018z"></path>
                                    <path d="M261.522,271.985c-0.984-0.455-2.146-0.225-2.881,0.567c-0.103,0.11-10.568,11.054-42.035,17.48c-12.047,2.414-34.66,3.638-67.211,3.638c-32.612,0-63.643-1.283-63.953-1.296c-1.296-0.063-2.405,0.879-2.581,2.155c-0.177,1.276,0.645,2.477,1.897,2.775c0.323,0.077,32.844,7.696,77.31,7.696c21.327,0,42.08-1.733,61.684-5.151c36.553-6.408,39.112-24.533,39.203-25.301C263.082,273.474,262.504,272.44,261.522,271.985z"></path>
                                </g>
                            </svg>
                        </div>
                        <input class="settingsFileSelVal" id="settingsJavaExecVal" type="text" value="null" cValue="JavaExecutable" serverDependent disabled>
                        <button class="settingsFileSelButton" id="settingsJavaExecSel" dialogTitle="<%- lang('settings.javaExecSelDialogTitle') %>" dialogDirectory="false"><%- lang('settings.javaExecSelButtonText') %></button>
                    </div>
                </div>
                <div class="settingsFileSelDesc"><%- lang('settings.javaExecDesc') %> <strong id="settingsJavaReqDesc"><!-- Requires Java 8 x64. --></strong><br><%- lang('settings.javaPathDesc', {'pathSuffix': `bin${process.platform === 'win32' ? '\\javaw.exe' : '/java'}`}) %></div>
            </div>
            <div id="settingsJVMOptsContainer">
                <div id="settingsJVMOptsTitle"><%- lang('settings.jvmOptsTitle') %></div>
                <div id="settingsJVMOptsContent">
                    <div class="settingsFileSelIcon">
                        <svg class="settingsFileSelSVG" x="0px" y="0px" viewBox="0 0 305.001 305.001">
                            <g>
                                <path d="M150.99,56.513c-14.093,9.912-30.066,21.147-38.624,39.734c-14.865,32.426,30.418,67.798,32.353,69.288c0.45,0.347,0.988,0.519,1.525,0.519c0.57,0,1.141-0.195,1.605-0.583c0.899-0.752,1.154-2.029,0.614-3.069c-0.164-0.316-16.418-31.888-15.814-54.539c0.214-7.888,11.254-16.837,22.942-26.312c10.705-8.678,22.839-18.514,29.939-30.02c15.586-25.327-1.737-50.231-1.914-50.479c-0.688-0.966-1.958-1.317-3.044-0.84c-1.085,0.478-1.686,1.652-1.438,2.811c0.035,0.164,3.404,16.633-5.97,33.6C169.301,43.634,160.816,49.603,150.99,56.513z"></path>
                                <path d="M210.365,67.682c0.994-0.749,1.286-2.115,0.684-3.205c-0.602-1.09-1.913-1.571-3.077-1.129c-2.394,0.91-58.627,22.585-58.627,48.776c0,18.053,7.712,27.591,13.343,34.556c2.209,2.731,4.116,5.09,4.744,7.104c1.769,5.804-2.422,16.294-4.184,19.846c-0.508,1.022-0.259,2.259,0.605,3.005c0.467,0.403,1.05,0.607,1.634,0.607c0.497,0,0.996-0.148,1.427-0.448c0.967-0.673,23.63-16.696,19.565-36.001c-1.514-7.337-5.12-12.699-8.302-17.43c-4.929-7.329-8.489-12.624-3.088-22.403C181.419,89.556,210.076,67.899,210.365,67.682z"></path>
                                <path d="M63.99,177.659c-0.964,2.885-0.509,5.75,1.315,8.283c6.096,8.462,27.688,13.123,60.802,13.123c0.002,0,0.003,0,0.004,0c4.487,0,9.224-0.088,14.076-0.262c52.943-1.896,72.58-18.389,73.39-19.09c0.883-0.764,1.119-2.037,0.57-3.067c-0.549-1.029-1.733-1.546-2.864-1.235c-18.645,5.091-53.463,6.898-77.613,6.898c-27.023,0-40.785-1.946-44.154-3.383c1.729-2.374,12.392-6.613,25.605-9.212c1.263-0.248,2.131-1.414,2.006-2.695c-0.125-1.281-1.201-2.258-2.488-2.258C106.893,164.762,68.05,165.384,63.99,177.659z"></path>
                                <path d="M241.148,160.673c-10.92,0-21.275,5.472-21.711,5.705c-1.01,0.541-1.522,1.699-1.245,2.811c0.278,1.111,1.277,1.892,2.423,1.893c0.232,0.001,23.293,0.189,25.382,13.365c1.85,11.367-21.82,29.785-31.097,35.923c-1.002,0.663-1.391,1.945-0.926,3.052c0.395,0.943,1.314,1.533,2.304,1.533c0.173,0,0.348-0.018,0.522-0.056c2.202-0.47,53.855-11.852,48.394-41.927C261.862,164.541,250.278,160.673,241.148,160.673z"></path>
                                <path d="M205.725,216.69c0.18-0.964-0.221-1.944-1.023-2.506l-12.385-8.675c-0.604-0.423-1.367-0.556-2.076-0.368c-0.129,0.034-13.081,3.438-31.885,5.526c-7.463,0.837-15.822,1.279-24.175,1.279c-18.799,0-31.091-2.209-32.881-3.829c-0.237-0.455-0.162-0.662-0.12-0.777c0.325-0.905,2.068-1.98,3.192-2.405c1.241-0.459,1.91-1.807,1.524-3.073c-0.385-1.266-1.69-2.012-2.978-1.702c-12.424,2.998-18.499,7.191-18.057,12.461c0.785,9.343,22.428,14.139,40.725,15.408c2.631,0.18,5.477,0.272,8.456,0.272c0.002,0,0.003,0,0.005,0c30.425,0,69.429-9.546,69.819-9.643C204.818,218.423,205.544,217.654,205.725,216.69z"></path>
                                <path d="M112.351,236.745c0.938-0.611,1.354-1.77,1.021-2.838c-0.332-1.068-1.331-1.769-2.453-1.755c-1.665,0.044-16.292,0.704-17.316,10.017c-0.31,2.783,0.487,5.325,2.37,7.556c5.252,6.224,19.428,9.923,43.332,11.31c2.828,0.169,5.7,0.254,8.539,0.254c30.39,0,50.857-9.515,51.714-9.92c0.831-0.393,1.379-1.209,1.428-2.127c0.049-0.917-0.409-1.788-1.193-2.267l-15.652-9.555c-0.543-0.331-1.193-0.441-1.813-0.314c-0.099,0.021-10.037,2.082-25.035,4.119c-2.838,0.385-6.392,0.581-10.562,0.581c-14.982,0-31.646-2.448-34.842-4.05C111.843,237.455,111.902,237.075,112.351,236.745z"></path>
                                <path d="M133.681,290.018c69.61-0.059,106.971-12.438,114.168-20.228c2.548-2.757,2.823-5.366,2.606-7.07c-0.535-4.194-4.354-6.761-4.788-7.04c-1.045-0.672-2.447-0.496-3.262,0.444c-0.813,0.941-0.832,2.314-0.016,3.253c0.439,0.565,0.693,1.51-0.591,2.795c-2.877,2.687-31.897,10.844-80.215,13.294c-6.619,0.345-13.561,0.519-20.633,0.52c-43.262,0-74.923-5.925-79.079-9.379c1.603-2.301,12.801-5.979,24.711-8.058c1.342-0.234,2.249-1.499,2.041-2.845c-0.208-1.346-1.449-2.273-2.805-2.096c-0.336,0.045-1.475,0.115-2.796,0.195c-19.651,1.2-42.36,3.875-43.545,13.999c-0.36,3.086,0.557,5.886,2.726,8.324c5.307,5.963,20.562,13.891,91.475,13.891C133.68,290.018,133.68,290.018,133.681,290.018z"></path>
                                <path d="M261.522,271.985c-0.984-0.455-2.146-0.225-2.881,0.567c-0.103,0.11-10.568,11.054-42.035,17.48c-12.047,2.414-34.66,3.638-67.211,3.638c-32.612,0-63.643-1.283-63.953-1.296c-1.296-0.063-2.405,0.879-2.581,2.155c-0.177,1.276,0.645,2.477,1.897,2.775c0.323,0.077,32.844,7.696,77.31,7.696c21.327,0,42.08-1.733,61.684-5.151c36.553-6.408,39.112-24.533,39.203-25.301C263.082,273.474,262.504,272.44,261.522,271.985z"></path>
                            </g>
                        </svg>
                    </div>
                    <input id="settingsJVMOptsVal" cValue="JVMOptions" serverDependent type="text">
                </div>
                <div id="settingsJVMOptsDesc"><%- lang('settings.jvmOptsDesc') %><br><a href="#" id="settingsJvmOptsLink"><!-- Available Options --></a></div>
            </div>
        </div>
        <div id="settingsTabLauncher" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.launcherTabHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.launcherTabHeaderDesc') %></span>
            </div>
            <div class="settingsFieldContainer">
                <div class="settingsFieldLeft">
                    <span class="settingsFieldTitle"><%- lang('settings.allowPrereleaseTitle') %></span>
                    <span class="settingsFieldDesc"><%- lang('settings.allowPrereleaseDesc') %></span>
                </div>
                <div class="settingsFieldRight">
                    <label class="toggleSwitch">
                        <input type="checkbox" cValue="AllowPrerelease">
                        <span class="toggleSwitchSlider"></span>
                    </label>
                </div>
            </div>
            <div class="settingsFileSelContainer">
                <div class="settingsFileSelContent">
                    <div class="settingsFieldTitle" id="settingsDataDirTitle"><%- lang('settings.dataDirectoryTitle') %></div>
                    <div class="settingsFileSelActions">
                        <div class="settingsFileSelIcon">
                            <svg class="settingsFileSelSVG">
                                <g>
                                    <path fill="gray" d="m10.044745,5c0,0.917174 -0.746246,1.667588 -1.667588,1.667588l-4.168971,0l-2.501382,0c-0.921009,0 -1.667588,0.750415 -1.667588,1.667588l0,6.670353l0,2.501382c0,0.917174 0.746604,1.667588 1.667588,1.667588l16.675882,0c0.921342,0 1.667588,-0.750415 1.667588,-1.667588l0,-2.501382l0,-8.337941c0,-0.917174 -0.746246,-1.667588 -1.667588,-1.667588l-8.337941,0z"/>
                                    <path fill="gray" d="m1.627815,1.6c-0.921009,0 -1.667588,0.746579 -1.667588,1.667588l0,4.168971l8.337941,0l0,0.833794l11.673118,0l0,-4.168971c0,-0.921009 -0.746246,-1.667588 -1.667588,-1.667588l-8.572237,0c-0.288493,-0.497692 -0.816284,-0.833794 -1.433292,-0.833794l-6.670353,0z"/>
                                    <path fill="lightgray" d="m10.025276,4c0,0.918984 -0.747719,1.670879 -1.670879,1.670879l-4.177198,0l-2.506319,0c-0.922827,0 -1.670879,0.751896 -1.670879,1.670879l0,6.683517l0,2.506319c0,0.918984 0.748078,1.670879 1.670879,1.670879l16.708794,0c0.923161,0 1.670879,-0.751896 1.670879,-1.670879l0,-2.506319l0,-8.354397c0,-0.918984 -0.747719,-1.670879 -1.670879,-1.670879l-8.354397,0z"/>
                                </g>
                            </svg>
                        </div>
                        <input class="settingsFileSelVal" type="text" value="null" cValue="DataDirectory" disabled>
                        <button class="settingsFileSelButton" dialogTitle="<%- lang('settings.selectDataDirectory') %>" dialogDirectory="true"><%- lang('settings.chooseFolder') %></button>
                    </div>
                </div>
                <div class="settingsFileSelDesc"><%- lang('settings.dataDirectoryDesc') %></div>
            </div>
        </div>
        <div id="settingsTabAbout" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.aboutTabHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.aboutTabHeaderDesc') %></span>
            </div>
            <div id="settingsAboutCurrentContainer">
                <div id="settingsAboutCurrentContent">
                    <div id="settingsAboutCurrentHeadline">
                        <img id="settingsAboutLogo" src="./assets/images/SealCircle.png">
                        <span id="settingsAboutTitle"><%- lang('settings.aboutTitle', { appName: lang('app.title') }) %></span>
                    </div>
                    <div id="settingsAboutCurrentVersion">
                        <div id="settingsAboutCurrentVersionCheck">&#10003;</div>
                        <div id="settingsAboutCurrentVersionDetails">
                            <span id="settingsAboutCurrentVersionTitle"><%- lang('settings.stableRelease') %></span>
                            <div id="settingsAboutCurrentVersionLine">
                                <span id="settingsAboutCurrentVersionText"><%- lang('settings.versionText') %></span>
                                <span id="settingsAboutCurrentVersionValue">0.0.1-alpha.18</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsAboutButtons">
                    <a href="<%- lang('settings.sourceGithubLink') %>" id="settingsAboutSourceButton" class="settingsAboutButton"><%- lang('settings.sourceGithub') %></a>
                    <!-- The following must be included in third-party usage. -->
                    <!-- <a href="https://github.com/dscalzi/HeliosLauncher" id="settingsAboutSourceButton" class="settingsAboutButton">Original Source</a> -->
                    <a href="<%- lang('settings.supportLink') %>" id="settingsAboutSupportButton" class="settingsAboutButton"><%- lang('settings.support') %></a>
                    <a href="#" id="settingsAboutDevToolsButton" class="settingsAboutButton"><%- lang('settings.devToolsConsole') %></a>
                </div>
            </div>
            <div class="settingsChangelogContainer">
                <div class="settingsChangelogContent">
                    <div class="settingsChangelogHeadline">
                        <div class="settingsChangelogLabel"><%- lang('settings.releaseNotes') %></div>
                        <div class="settingsChangelogTitle"><%- lang('settings.changelog') %></div>
                    </div>
                    <div class="settingsChangelogText">
                        <%- lang('settings.noReleaseNotes') %>
                    </div>
                </div>
                <div class="settingsChangelogActions">
                    <a class="settingsChangelogButton settingsAboutButton" href="#"><%- lang('settings.viewReleaseNotes') %></a>
                </div>
            </div>
        </div>
        <div id="settingsTabUpdate" class="settingsTab" style="display: none;">
            <div class="settingsTabHeader">
                <span class="settingsTabHeaderText"><%- lang('settings.launcherUpdatesHeaderText') %></span>
                <span class="settingsTabHeaderDesc"><%- lang('settings.launcherUpdatesHeaderDesc') %></span>
            </div>
            <div id="settingsUpdateStatusContainer">
                <div id="settingsUpdateStatusContent">
                    <div id="settingsUpdateStatusHeadline">
                        <span id="settingsUpdateTitle"><!-- You Are Running the Latest Version --></span>
                    </div>
                    <div id="settingsUpdateVersion">
                        <div id="settingsUpdateVersionCheck">&#10003;</div>
                        <div id="settingsUpdateVersionDetails">
                            <span id="settingsUpdateVersionTitle"><%- lang('settings.stableRelease') %></span>
                            <div id="settingsUpdateVersionLine">
                                <span id="settingsUpdateVersionText"><%- lang('settings.versionText') %> </span>
                                <span id="settingsUpdateVersionValue">0.0.1-alpha.18</span>
                            </div>
                        </div>
                    </div>
                    <div id="settingsUpdateActionContainer">
                        <button id="settingsUpdateActionButton"><%- lang('settings.checkForUpdates') %></button>
                    </div>
                </div>
            </div>
            <div class="settingsChangelogContainer">
                <div class="settingsChangelogContent">
                    <div class="settingsChangelogHeadline">
                        <div class="settingsChangelogLabel"><%- lang('settings.whatsNew') %></div>
                        <div class="settingsChangelogTitle"><%- lang('settings.updateReleaseNotes') %></div>
                    </div>
                    <div class="settingsChangelogText">
                        <%- lang('settings.noReleaseNotes') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/settings.js"></script>
</div>